extends layout

block content
    h1 Play Time 4 Trivia!
    p Implement your trivia game here. User should be able to see questions, select answers and get their score when done. Scores should be saved for the leaderboard.
    button Go